<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>

<div class="row">
  <div class="col-md-8">
  <p>Click a company to see its description and reviews!</p>
    <% @companies.each do |company| %>
      <div class="media">
        <div class="row">
        Review rating: <%= company.rating %>,&nbsp; Controversy<%#= link_to "Reviews: #{company.reviews.count}", company.reviews %>&nbsp; <%= link_to company.name, company %>
          <small>
            <%= company.description %>
          </small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @companies %>
  </div>
</div>
