<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>

<div class="row">
  <div class="col-md-8">
    <% @companies.each do |company| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to company.name, company %>
          </h4>
          <small>
            <%= review.title %>
          </small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @reviews %>
  </div>
  <div class="col-md-4">
    <%#= link_to "New Topic", new_topic_path, class: 'btn btn-success' if policy(Topic.new).create? %>
  </div>
</div>
